@model AppFormularioDePago.Models.PagoModel

@{
    ViewData["Title"] = "Pago Index";
}

<div class="text-center">
    <h1 class="display-4">Formulario de Pago</h1>
</div>
<div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-6">
      <div class="mb-3">
        <div class="display-5 fw-bold text-center">
          Registrar Pago
        </div>
      </div>
      <form asp-controller="Pago" asp-action="Agregar" method="post" class="p-4 p-md-5 border rounded-3 bg-light">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" asp-for="NumeroTarjeta" placeholder="Nombres">
          <label for="floatingInput">Número de Tarjeta</label>
        </div>
        <div class="form-floating mb-3">
          <input type="date" class="form-control" asp-for="FechaVencimiento" placeholder="Apellidos">
          <label for="floatingInput">Fecha de Vencimiento de pago</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" asp-for="Monto" step="0.01" min="0.00" placeholder="Nombres">
          <label for="floatingInput">Monto a pagar (S/.)</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Pagar</button>
        <hr class="my-4">
      </form>
    </div>
  </div>