@model IEnumerable<AppFormularioDePago.Models.PagoModel>

@{
    ViewData["Title"] = "Pago Index";
}

<div class="text-center">
    <h1 class="display-4">Formulario de Pago</h1>
    <a asp-action="Create">Nuevo Pago</a>
</div>
