@model PagoModel

@{
    ViewData["Title"] = "Pago Index";
}

<div class="text-center">
    <h1 class="display-4">Formulario de Pago</h1>
</div>
<div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-6">
      <div class="mb-3">
        <div class="display-5 fw-bold text-center">
          Registrar Pago
        </div>
      </div>
      <div class="container">
        <h1>Detalle del Pago</h1>
        <p>Número de Tarjeta: @Model.NumeroTarjeta</p>
        <p>Fecha de Vencimiento: @Model.FechaVencimiento.ToShortDateString()</p>
        <p>Monto Total: @Model.Monto.ToString("C")</p>
      </div>
    </div>
  </div>